<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Login-neighbourly</title>
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
  <div class="wrapper">
    <div class="form-wrapper sign-in">
      <form action="{% url 'login_view' %}" method="POST">
       
      </li>
        <h2>Login</h2>
      
        <div class="input-group">
          <input type="text" name="username" placeholder="Username" required>
          <label for="">Username</label>
        </div>
        <div class="input-group">
          <input type="password" name="password" placeholder="Password" required>
          <label for="">Password</label>
        </div>
        <div class="remember">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit">Login</button>
        <div class="signUp-link">
          <p>Don't have an account? <a href="signup.html" class="signUpBtn-link">Sign Up</a></p>
        </div>
      </form>
    </div>
    
  <script src="script.js"></script>
</body>
</html>